{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>UK News</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet" />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <!-- <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> Test if error occurs-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<style type="text/css">
    body{background-color:#e2e8f0}
</style>
<body>
    <nav class="navbar navbar-expand-lg navbar-light navbar-laravel">
        <div class="container">
            <a class="navbar-brand" href="{% url 'newsapp:mainpage' %}">UK News</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Browse Articles
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" id="categories-for-all-user">
                        </div>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'newsapp:profile' %}">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'newsapp:auth_logout' %}">Logout</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">My Favourite Article
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" id="favourite-categories">
                        </div>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'newsapp:auth_login' %}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'newsapp:create_account' %}">Register</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    {% block content %}
    {% endblock %}
</body>
<script type="text/javascript">
    window.onload = function() {
        // Get distinct article categories and display the categories in the nav bar
        $.ajax({
          url: '{% url "newsapp:get_distinct_categories" %}',
          dataType: 'json',
          success: function (response) {
            for (var i = 0; i < response.unique_categories.length; i++) {
                var category_url = '<a class="dropdown-item" href="/browse_category/'+response.unique_categories[i]+'">'+response.unique_categories[i]+'</a>';
                $( "#categories-for-all-user" ).append( category_url );
            }
          }
        });

        // TODO: Making another ajax request to retrive user's favourite categories.

        {% if user.is_authenticated %}
            $.ajax({
              url: '{% url "newsapp:get_favourite_categories" %}',
              dataType: 'json',
              success: function (response) {
                for (var i = 0; i < response.favourite_categories.length; i++) {
                var category_url = '<a class="dropdown-item" href="/browse_category/'+response.favourite_categories[i]+'">'+response.favourite_categories[i]+'</a>';
                $( "#favourite-categories" ).append( category_url );
            }
              }
            });
        {% endif %}
        
    }
</script>
</html>